.nav-custom {
    background:   $palet2-dark !important; 
   
}
.side-custom {
    background:  $palet5-white !important;
}
.btn-custom {
    background:   $palet1-blue !important;
}
.th-table {
    background:   $palet2-dark  !important;
}
.text-white {
    color:  $palet5-white !important;;

} 
.text-blue {
    color: $palet1-blue !important; 
}
.shadow-custom {
    box-shadow: 5px 5px $palet3-gray;
    
}

.btn-wallet {
    color: #fff;
    background-color: #283E4A !important;
    border-color: #283E4A !important;
}


/**
* @ Custom Style
**/
.custom-label {
    font-size: 12px;
    line-height: 14px;
    color: #66696a;
    z-index: 2;
    display: block;
    position: relative;
    width: 100%;
}

#main-content {
    background-color: #0077B5;
    background-image: url('../../public/storage/undraw_transfer_money_rywa.svg');
    background-repeat: no-repeat;
    background-position: right;
}


.icon-background {
    background-color: #0077B5 !important;
}


/*Media Queries*/
@media only screen and (max-width: 987px)  {
    #main-content {
        background-image: url('');
        background-position: center;
        -webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;
    }
}