.nav-custom {
    background:   $palet2-dark !important; 
   
}
.side-custom {
    background:  $palet5-white !important;
}
.btn-custom {
    background:   $palet1-blue !important;
}
.th-table {
    background:   $palet2-dark  !important;
}
.text-white {
    color:  $palet5-white !important;;

} 
.text-blue {
    color: $palet1-blue !important; 
}
.shadow-custom {
    box-shadow: 5px 5px $palet3-gray;
    
}