// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb; 

 //Navbar
 $palet1-blue: #0077B5; 
 $palet2-dark : #283E4A;
 $palet3-gray : #E1E9EE;
 $palet4-gray-white : #F3F8FB;
 $palet5-white : #FFFFFF;
